@font-face {font-family:Roboto; src:url(fonts/Roboto-Regular.ttf);}
/* default */
* {margin:0px; padding:0px; vertical-align:top;}
body {
	width: 100vw;
    height: 100vh;
	padding:0px; 
	margin:0px; 
	font-family:Roboto;
	overflow: hidden;
}
div {display:block; position:relative; vertical-align:top;}
span {display:inline-block; position:relative; vertical-align:top;}
li {text-decoration:none; list-style:none;vertical-align:top;}
a {	text-decoration:none; vertical-align:top;}
/* - default - */


#pano {
	width:100%;
	height:100%;
}


#pano-menu {
	position:absolute;
	display:inline-block;
	top:10px;
	left:10px;
}

#pano-menu li{ 
	display: inline-block;
	background:rgb(204 204 204 / 52%);
	padding:10px;
	margin:6px 4px;
	border: 2px solid #fff;
	color: #fff;
	cursor:pointer;
	border-radius: 5px;
}
#pano-menu li:hover{background:#888;} 


.Hw-Three-pano-target-one {
	/* width:1px; */
	/* height:1px; */
}

.class-one-pin {
	position:absolute;
	left:-50px;
	bottom:0px;
    width: 80px;
    height: 100px;
    background: url(../img/pin_zdorovie.png);
    background-size: cover;
    cursor: pointer;
}
.class-pin-box {
    background: rgb(34 34 34 / 80%);
    padding: 10px;
    color: #fff;
    border-radius: 1px 18px 18px 18px;
	border-top: 1px solid #ff2d5b;
	border-left: 1px solid #ff2d5b;
}

/* pano btn */
.akn-w-but-rightcircle {
	display:flex;
	justify-content:center;
	position:absolute;
    top: calc(50% - 144px);
	left: -140px;
    width: 288px;
    height: 288px;
	background-image:url("../img/zoom/right_cyrcle_elements.png");
	background-size:100% 100%;
	z-index:10;
}
.akn-w-but-rightcircle .circle-nt{
	width: 288px;
    height: 288px;
	background-image:url("../img/zoom/right_cyrcle_element_act.png");
	background-size:100% 100%;
	transform: rotate(0deg);
	transition: transform 0.5s ease-out;
	z-index:0;
}
.akn-w-but-rightcircle .mini-but {
	position:absolute;
	width:50px;
	height:50px;
	display:flex;
	align-items: center;
    justify-content: center;
	cursor:pointer;
	color:#ff2d5b;
	font-size: 24px;
	background: #fff;
	border-radius: 50%;
	border: 2px solid #fff;
	z-index:10;
}
.akn-w-but-rightcircle .mini-but:hover{border-color:#ff2d5b;}
.akn-w-but-rightcircle .mini-but.active {
	color:#fff;
	background: #ff2d5b;
	border-color:#ff2d5b;
}
.akn-w-but-rightcircle .but-winter{
    top: -4.5%;
    right: 24%;
}
.akn-w-but-rightcircle .but-spring{
    top: 21%;
    right: -5%;
}
.akn-w-but-rightcircle .but-summer{
	top: 59%;
    right: -5%;
}
.akn-w-but-rightcircle .but-autumn{
	top: 85.5%;
    right: 24%;
}
.akn-w-but-rightcircle .but-winter.active ~ .circle-nt{transform: rotate(90deg);}
.akn-w-but-rightcircle .but-spring.active ~ .circle-nt{transform: rotate(135deg);}
.akn-w-but-rightcircle .but-summer.active ~ .circle-nt{transform: rotate(180deg);}
.akn-w-but-rightcircle .but-autumn.active ~ .circle-nt{transform: rotate(225deg);}



/* zoom */ 
.akn-w-but-zoom {
	position:absolute;
    top: calc(50% - 199px);
	right: 30px;
	width:15px;
	height:399px;
	background-image:url("../img/zoom/grid_scale.png");
	background-size:100% 100%;
	transition: left .5s;
	z-index:10;
}
.akn-w-but-zoom .but-plus{
	position:absolute;
    top: -63px;
    left: -31px;
	width:77px;
	height:77px;
	cursor:pointer;
	background-image:url("../img/zoom/plus_btn.png");
	background-size:100% 100%;
	z-index:8;
}
.akn-w-but-zoom .but-plus:hover{background-image:url("../img/zoom/plus_btn_act.png");}
.akn-w-but-zoom .but-plus:active{background-image:url("../img/zoom/plus_btn_act.png");}
.akn-w-but-zoom .but-minus{
	position:absolute;
    left: -31px;
    bottom: -62px;
	width:77px;
	height:77px;
	cursor:pointer;
	background-image:url("../img/zoom/minus_btn.png");
	background-size:100% 100%;
	z-index:8;
}
.akn-w-but-zoom .but-minus:hover{background-image:url("../img/zoom/minus_btn_act.png");}
.akn-w-but-zoom .but-minus:active{background-image:url("../img/zoom/minus_btn_act.png");}
.akn-w-but-zoom .but-scrol{
	position:absolute;
	top: 287px;
    left: -18px;
	width:50px;
	height:50px;
	background-image:url("../img/zoom/selector.png");
	background-size:100% 100%;
	z-index:6;
	transition:top 0.2s;
}
.akn-w-but-zoom .but-scrol.active{background-image:url("../img/zoom/selector_act.png");}